{% extends 'base_layout.html' %}

{% block content %}
<div class="form-group-first" style="margin-top: 10px;">
	<h2>Leave a Review</h2>
	<div class="form-group">
		<form action="#" method="post">
			{% csrf_token %}
			{{form}}
			<input type="submit" name="" value="POST">
		</form>
		<!-- <form action="#" method="post">
			{{form.non_field_errors}}
			{% csrf_token %}
			<div class="row">
				<div class="col">
					{{form.title.errors}}
					<label for="id_title">Title:</label>
					{{form.title}}
				</div>
				<div class="col">
					{{form.body.errors}}
					<label for="id_title">Body:</label>
					{{form.body}}
				</div>
			</div>
			<input class="form-input" type="submit" name="" value="POST">
		</form> -->
	</div>
</div>
<script src="/static/slugify.js"></script>
{% endblock %}