{% extends 'chat_layout.html' %}

{% block content %}
<div id="frame">
	<div id="sidepanel">
		<!-- <div id="profile">
			<div class="wrap">
				<img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt="" />
				<p>Mike Ross</p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
				</div>
			</div>
		</div> -->
		<!-- <div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div> -->
		<div id="contacts">
			<ul>
				{% for room in rooms %}
					{% for users in room.users.all %}
						{% if users.username != user.username %}
							<a href="{% url 'chat:room' room_name=room.title %}" style="text-decoration: none; color:white;">
							<li class="contact" id="{{room.title}}">
								<div class="wrap">
									<span class="contact-status online"></span>
									{% for profile in profiles %}
										{% if profile.account == users %}
											<img src="{{ profile.picture.url }}" alt="" />
										{% endif %}
									{% endfor %}
									<div class="meta">
										<p class="name">{{ users.username }}</p>
										<div>
											<p class="preview" id="p{{room.title}}"></p>
										</div>
										<div class="row">
											<div class="col-xs-4 col-sm-4 col-md-4">
												<a onclick="showModal({{room.id}})"><i class="fa fa-trash" aria-hidden="true"></i> </a>
											</div>
											<!-- <div class="col-xs-4 col-sm-4 col-md-4">
												<a><i class="fa fa-trash" aria-hidden="true"></i> </a>
											</div>
											<div class="col-xs-4 col-sm-4 col-md-4">
												<a><i class="fa fa-trash" aria-hidden="true"></i> </a>
											</div> -->
										</div>
									</div>
								</div>
							</li>
							</a>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
		<!-- <div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div> -->
	</div>
	<div class="content">
		<!-- <div class="contact-profile">
			<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
			<p>{{ user.username }}</p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div> -->
		<div class="messages">
			<ul id="chat-log">
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input id="chat-message-input" type="text" placeholder="Write your message..." />
			<!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> -->
			<button id="chat-message-submit" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="myModal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p id="modal-p-content"></p>
            <button id="modalbtn-delete">Proceed</button>
        </div>
    </div>
</div>
{{ room_name|json_script:"room-name" }}
{{ request.user.username|json_script:"user_username" }}
{% endblock %}

{% block scripts %}
<script src="/static/chat_main.js"></script>
<script src="/static/reconnecting-websocket.js"></script>
	<script type="text/javascript">

		$(document).ready(function() {
			if(document.getElementById('modalbtn-delete') != null){
				document.getElementById('modalbtn-delete').onclick = function(){
					const room_id = $(this).attr('class')
					location.href = "../room/delete/"+room_id;
				};	
			}
		});

		const user_username = JSON.parse(document.getElementById('user_username').textContent);
		const roomName = JSON.parse(document.getElementById('room-name').textContent);


		const element = document.getElementById(roomName);
		element.classList.add("active");

		document.querySelector('#chat-message-input').onkeyup = function(e) {
					if(e.keyCode === 13){
						document.querySelector('#chat-message-submit').click();
					}
				};

		document.querySelector('#chat-message-submit').onclick = function (e) {
					const messageInputDom = document.querySelector('#chat-message-input');
					const message = messageInputDom.value;
					chatSocket.send(JSON.stringify({
						'command':'new_message',
						'message':message,
						'from':user_username
					}));
					messageInputDom.value = '';
				};

		const chatSocket = new ReconnectingWebSocket(
			'ws://' + 
			window.location.host +
			'/ws/chat/' +
			roomName +
			'/'
		);

		chatSocket.onopen = function(e){
			fetchMessages();
		}

		function scrolltoBottom(){
			var element = document.querySelector('.messages');
			element.scrollTop = element.scrollHeight - element.clientHeight;
		}

		chatSocket.onmessage = function (e) {
			const data = JSON.parse(e.data);
			latestMessages();
			if(data['command'] === 'messages'){
				for(let i=0; i<data['messages'].length; i++){
					createMessage(data['messages'][i]);
				}
				scrolltoBottom();
			}else if( data['command'] === 'new_message'){
				createMessage(data['message']);
				scrolltoBottom();
			}else if(data['command'] === 'latest_message')	{
				for(let i=0; i<data['messages'].length; i++){
					
					var message = data['messages'][i];
					var content = message['content'];
					var room = message['room'];
					document.querySelector('#p'+room).innerHTML = (content);
				}
			}
		};

		function fetchMessages(){
			chatSocket.send(JSON.stringify({'command':'fetch_messages'}));
		}

		function latestMessages(){
			chatSocket.send(JSON.stringify({'command':'latest_messages','from':user_username}));
		}

		function createMessage(data){
			var author = data['author'];
			var msgListTag = document.createElement('li');
			var imgTag = document.createElement('img');
			var pTag = document.createElement('p');
			pTag.textContent = data.content;
			imgTag.src = data['profile'];

			if(author === user_username){
				msgListTag.className = 'sent';
			}else{
				msgListTag.className = 'replies';
			}
			msgListTag.appendChild(imgTag);
			msgListTag.appendChild(pTag);
			document.querySelector('#chat-log').appendChild(msgListTag);
		}

		function showModal(id){
			// Get the modal
			var modal = document.getElementById("myModal");

			//add id to modalbtn-delete
			document.getElementById('modalbtn-delete').setAttribute("class",id);
			
			//open modal
			modal.style.display = "block";
			document.getElementById('modal-p-content').innerHTML = "Are you sure you want to delete this conversation?";
			

			//Get span
			var span = document.getElementsByClassName("close")[0];
			//When the user clicks on the button, open the modal
			span.onclick = function(){
				modal.style.display = "none";
			}
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(){
				if(event.target == modal){
					modal.style.display = "none";   
				}
			}
		}

		chatSocket.onclose = function(e){
			console.error('Chat socket closed unexpectedly');
		}
	</script>
{% endblock %}