{% extends 'base_layout.html' %}

{% block content %}
<div id="user-hello">
	
</div>
{{ room_name|json_script:"room-name" }}
{% endblock %}

{% block scripts %}
<script type="text/javascript">

	const roomName = JSON.parse(document.getElementById('room-name').textContent);

	const chatSocket = new WebSocket(
		'ws://' + 
		window.location.host +
		'ws/chat/' +
		roomName +
		'/'
	);

	chatSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		console.log(data)
		document.getElementById('#user-hello').innerHTML = (data.tester)
	}

</script>
{% endblock %}