{% extends 'base_layout.html' %}

{% load post_tags_account %}

{% block userprofile %}
<button class="dropbtn-bar"><img src="{{profile.picture.url}}" alt="" class="super-useravatar"> {{user.username}}
	<i class="fa fa-caret-down"></i>
</button>
{% endblock %}
{% block myProfile %} nav-active {% endblock %}
{% block content %}
<div class="col-lg-12 col-sm-12">
    <div class="card hovercard" style="height: 220px;">
        <div class="card-background" style="height: 220px;">
            <img class="card-bkimg" alt="" src="{{ profile.coverphoto.url }}">
        </div>
        <div class="useravatar">
            <img alt="" id="profilepic" src="{{ profile.picture.url }}">
            <button onclick="profileEdit('{{profile.id}}')" id="profile-edit"><i class="fas fa-edit"></i></button>
        </div>
        <div class="card-info" style="bottom: 25px;"> 
            <span class="card-title" style="font-weight: bolder;">{{ user.username }}</span>
            <div class="row statistics-num">
                <div class="col col-xs col-sm col-md-3"></div>
                <div class="col-3 col-xs-2 col-sm-2 col-md">
                    <span>{{ listing.count }}</span>
                </div>
                <div class="col col-xs col-sm col-md"></div>
                <div class="col-3 col-xs-2 col-sm-2 col-md">
                    <span>{{ read.books.count }}</span>
                </div>
                <div class="col col-xs col-sm col-md"></div>
                <div class="col-3 col-xs-2 col-sm-2 col-md">
                    <span>{{ followers.count }}</span>
                </div>
                <div class="col col-xs col-sm col-md-3"></div>
            </div>
            <div class="row statistics-label">
                <div class="col col-xs col-sm col-md-3"></div>
                <div class="col-3 col-xs-2 col-sm-2 col-md">
                    <span>Listings</span>
                </div>
                <div class="col col-xs col-sm col-md"></div>
                <div class="col-3 col-xs-2 col-sm-2 col-md">
                    <span>Read</span>
                </div>
                <div class="col col-xs col-sm col-md"></div>
                <div class="col-3 col-xs-2 col-sm-2 col-md">
                    <span>Followers</span>
                </div>
                <div class="col col-xs col-sm col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!-- navigation tabs -->
    <!-- css file in book_styles || book_library -->
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="..." style="display: flex; justify-content: center;">
        <div class="btn-group" role="group">
            <button type="button" id="tab1-tab" class="btn btn-default btnTabListing btnTabActive" onclick="openTab('tab1')" data-toggle="tab"><span class="fas fa-book-open" aria-hidden="true"> Overview</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="tab2-tab" class="btn btn-default btnTabRead" onclick="openTab('tab2')" data-toggle="tab"><span class="fas fa-list" aria-hidden="true"> Listings</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="tab3-tab" class="btn btn-default btnTabLibrary" onclick="openTab('tab3')" data-toggle="tab">
                <span class="fa-solid fa-user-check" aria-hidden="true"> Following 
                   <span style="background-color: red; border-radius: 5px; color: white; padding-left: 2px; padding-right: 2px;">{{count}}</span>
                </span>
            </button>
        </div>
    </div>
    
    <!-- My Listings Tab -->
    <div class="tab-content" id="myTabContent" style="padding-top: 10px;">
        <div class="tab-pane fade show active" id="tab1"  role="tabpanel" aria-labelledby="tab1-tab" >
            <div class="personalInfo">
                <h5>Personal Information <span id="fill-text" style="font-size: 15px;" hidden>(Fill up all required <span style="color: red;">*</span> fields.)</span> <span class="updateBtn-personal edit-icon" onclick="edit()"><i class="fas fa-edit"></i></span></h5>
            </div>
            <div class="personalInfo-content">
                <div class="row">
                    <div class="col col-xs-1 col-sm-1"></div>
                    <div class="col-4 col-xs-3 col-sm-3">
                        <div class="label-header">
                            <label for="first_name">First Name:<span style="color: red;">*</span></label><br />
                            <label for="last_name">Last Name:<span style="color: red;">*</span></label><br />
                            <label for="first_name">Username:<span style="color: red;">*</span></label><br />
                            <label for="last_name">Email Address:<span style="color: red;">*</span></label><br />
                            <label for="location">Location:<span style="color: red;">*</span></label><br />
                            <label for="facebook">Facebook:</label><br />
                            <label for="twitter">Twitter:</label>
                        </div>
                    </div>
                    <div class="col-6 col-xs-7 col-sm-7">
                        <div class="label-header-content" id="header-content">
                            <label for="first_name">{{user.first_name}}</label><br />
                            <label for="last_name">{{user.last_name}}</label><br />
                            <label for="first_name">{{user.username}}</label><br />
                            <label for="last_name">{{user.email}}</label><br />
                            <label for="location">{{profile.location}}</label><br />
                            <label for="facebook">{{profile.facebook}}</label><br />
                            <label for="twitter">{{profile.twitter}}</label>
                        </div>
                        <div class="label-header-content-edit" id="header-content-edit" hidden="true">
                            <form action="{% url 'accounts:update' %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="fname" value="{{user.first_name}}"><br />
                                <input type="text" name="lname" value="{{user.last_name}}"><br />
                                <input type="text" name="uname" value="{{user.username}}"><br />
                                <input type="text" name="email" value="{{user.email}}"><br />
                                <input type="text" name="location" value="{{profile.location}}"><br />
                                <input type="text" name="facebook" value="{{profile.facebook}}"><br />
                                <input type="text" name="twitter" value="{{profile.twitter}}">
                                <input type="button" id="cancelBtn" value="Cancel" onclick="cancel()">
                                <input type="submit" id="saveBtn" value="Save">
                            </form>
                        </div>
                    </div>
                    <div class="col col-xs-1 col-sm-1"></div>
                </div>
            </div>
            <div class="personalInfo">
                <h5>Popular Listings</h5>
            </div>
        </div><br>
        <!-- Have Read Tab -->
        <div class="tab-pane fade" id="tab2"  role="tabpanel" aria-labelledby="tab2-tab">
            <div class="my-listings-library">
                {% for book in listings %}
                    <div class="container-library">
                        <img class="list-thumb " src="{{ book.thumbnail.url }}">
                            {% if not listings_exist %}
                                <a class="details-library" href="{% url 'books:detail' slug=book.slug page_id=1 %}">Show Details</a>
                                <button class="update-library" onclick="updateLibrary('{{book.id}}')">Update</button>
                                <button name="listing-delete" class="delete-library" id="myBtn{{book.id}}" data-name="{{book.title}}" onclick="show_modal('{{book.id}}')">Remove</button>                   
                            {% else %}
                                {% for listing_exist in listings_exist %}
                                    {% if listing_exist.title == book.title and listing_exist.author == book.author %}
                                        <button class="details-library" onclick="detailLibrary('{{book.id}}','{{book.owner.id}}')">Show Details</button>
                                        {% counter 1 as ctr %}
                                    {% else %}
                                        {% if counter == forloop.counter and ctr != "break" %}
                                            <a class="details-library" href="{% url 'books:detail' slug=book.slug page_id=1 %}">Show Details</a>
                                            <button class="update-library" onclick="updateLibrary('{{book.id}}')">Update</button>
                                            <button name="listing-delete" class="delete-library" id="myBtn{{book.id}}" data-name="{{book.title}}" onclick="show_modal('{{book.id}}')">Remove</button>       
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Library Tab -->
        <div class="tab-pane fade" id="tab3"  role="tabpanel" aria-labelledby="tab3-tab">
            <div class="my-listings-library">
                <div style="width: 80%; margin: 0 auto;">
                    <div class="row"> 
                        {% for follow in follows %}
                        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card similar-card" style="width: 100%;">
                                <div class="card-body similar-body">
                                    <div class="row similar-div"> 
                                        <div class="col-2 col-xs-2 col-sm-2 col-md-1">
                                            <img style="width: 50px; height: 50px; border-radius: 50%;" src="{% profile follow %}">
                                        </div>
                                        <div class="col-6 col-xs-6 col-sm-6 col-md-7">
                                            <h5 class="card-title">{{follow.username}}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">{{follow.first_name}} {{follow.last_name}}</h6>
                                            <p class="card-text"></p>
                                        </div>
                                        <div class="col-4 col-xs-4 col-sm-4 col-md-3">
                                            <button class="follow" style="width: 100%;" id="followBtn{{follow.id}}" onclick="unfollow('{{follow.id}}')">Unfollow</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><br>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-content">
        <div class="modal-headerInfo">
            <span class="closeInfo">&times;</span>
        </div>
        <div class="modal-body">
            <form method="post" enctype="multipart/form-data" id="modalForm">
                {% csrf_token %}
                New Profile Picture: <input type="file" class="form-control" name="picture"><br />
                New Cover Picture: <input type="file" class="form-control" name="coverpicture"><br />
                <button type="submit" id="saveBtn-modal">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function edit(){
        document.getElementById('header-content').setAttribute('hidden', true);
        document.getElementById('header-content-edit').removeAttribute('hidden', false);
        document.getElementById('fill-text').removeAttribute('hidden', false);
    }
    
    function cancel(){
        document.getElementById('header-content').removeAttribute('hidden', false);
        document.getElementById('header-content-edit').setAttribute('hidden', true);
        document.getElementById('fill-text').setAttribute('hidden', true);
    }

    function profileEdit(profile_id){
        //get modal
        var modal = document.getElementById("myModal");

        // set action of form
        var url = "{% url 'accounts:profile_update' profile_id=1 %}"
        document.getElementById('modalForm').setAttribute('action', url.replace('1',profile_id))

        //set profile.id to save btn class
        document.getElementById('saveBtn-modal').setAttribute('class', profile_id);

        //open modal
        modal.style.display = "block";
        
        //Get span
        var span = document.getElementsByClassName("closeInfo")[0];

        //When the user clicks on the button, open the modal
        span.onclick = function(){
            modal.style.display = "none";
        }   

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(){
            if(event.target == modal){
                modal.style.display = "none";   
            }
        }
    }

    $(document).ready(function() {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btnTabActive");
            $(this).addClass("btnTabActive"); 
        });
    });


    function openTab(name) {
        var i;
        var x = document.getElementsByClassName("tab-pane");
        for (i = 0; i < x.length; i++) {
            x[i].classList.remove("show");
            x[i].classList.remove("active");
        }
        document.getElementById(name).classList.add("show");
        document.getElementById(name).classList.add("active");
    }

    function unfollow(id){
        var url = "{% url 'accounts:follow' %}"

        const btnText = $(`#followBtn`+id).text()
        const trim = $.trim(btnText)

        $.ajax({
            type:'POST',
            url: url,
            data:{
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'user_id':id,
                'personalInfo':'true'
            },
            success: function(response){
                if(trim == "Follow"){
					$(`#followBtn`+id).text('Unfollow')
                }else{
					$(`#followBtn`+id).text('Follow')
                }
            },
            error: function(response){
                console.log('error', response)
            },
        })
    }

</script>
{% endblock %}