{% extends 'base_layout.html' %}

{% block userprofile %}
<button class="dropbtn-bar"><img src="{{profile.picture.url}}" alt="" class="super-useravatar"> {{user.username}}
	<i class="fa fa-caret-down"></i>
</button>
{% endblock %}
{% block myProfile %} nav-active {% endblock %}
{% block content %}
<div class="col-lg-12 col-sm-12">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="/media/default.png">
        </div>
        <div class="useravatar">
            <img alt="" id="profilepic" src="{{ profile.picture.url }}">
            <button onclick="profileEdit('{{profile.id}}')" id="profile-edit"><i class="fas fa-edit"></i></button>
        </div>
        <div class="card-info"> <span class="card-title" style="font-weight: bolder;">{{ user.username }}</span>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="form-group">
        <div class="personalInfo">
            <h5>Update Profile Picture</h5>
        </div>
        <form action="{% url 'accounts:profile_update' profile_id=profile.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Profile Picture: <input type="file" class="form-control" placeholder="Profile Picture"><br />
            <input type="submit" class="form-control" value="Save">
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}