/* ----------------------------------------------------------- */
/* profile */
/* ----------------------------------------------------------- */
#profile-edit{
    position: absolute;
    color: white;
    background-color: #26272b;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    z-index: 2;
    transform: translate(-50%, 250%);
    -ms-transform: translate(-50%, 250%);
}

.personalInfo{
    background-color: #26272b;
    color: white;
    padding: 5px;
    padding-bottom: -5px;
    border-radius: 5px;
    width: 100%;
}

.personalInfo h5{
    margin-bottom: 1px;
}

.edit-icon, .label-header{
    float: right;
}

.edit-icon:hover, #profile-edit:hover{
    color: gray;
    cursor: pointer;
}

.personalInfo-content{
    clear: both;
    padding-bottom: 10px;
}

.label-header, .label-header-content{
    padding-top: 20px;
    padding-bottom: 10px;
}

.label-header-content-edit{
    padding-top: 10px;
}

.label-header label{
    font-weight: bold;
    margin-top: 2px;
}

.label-header-content label{
    margin-top: 2px;
}

.label-header-content-edit input{
    margin-top: 5px;
    width: 80%;
}

#cancelBtn, #saveBtn{
    color: black;
    background-color: skyblue;
    border-radius: 5px;
    border: none;
}

#saveBtn-modal{
    float: right;
    color: black;
    background-color: skyblue;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
}

#cancelBtn:hover, #saveBtn:hover, #saveBtn-modal:hover{
    background-color: #009DDB;
    color: white;
}

.modal-headerInfo{
    background-color: #26272b;
    padding: 2px 16px;
    color: white;
}

.closeInfo {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeInfo:hover,
.closeInfo:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* ----------------------------------------------------------- */
/* view_profile */
/* ----------------------------------------------------------- */
.statistics-num, .statistics-label{
    color: black;
    font-weight: bold;
}

.statistics-num{
    font-size: large;
}

.follow{
    background-color: skyblue;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 35px;
    font-weight: bolder;
}

.follow:hover{
    background-color: #009DDB;
    color: white;
}
