/* ----------------------------------------------------------- */
/* profile */
/* ----------------------------------------------------------- */
#profile-edit{
    position: absolute;
    color: white;
    background-color: #26272b;
    text-decoration: none;
    border: none;
    border-radius: 50%;
    z-index: 2;
    transform: translate(-50%, 250%);
    -ms-transform: translate(-50%, 250%);
}

.personalInfo{
    background-color: #379683;
    color: white;
    padding: 5px;
    padding-bottom: -5px;
    border-radius: 5px;
    width: 100%;
}

.personalInfo h5{
    margin-bottom: 1px;
}

.edit-icon, .label-header{
    float: right;
}

.edit-icon:hover, #profile-edit:hover{
    color: gray;
    cursor: pointer;
}

.personalInfo-content{
    clear: both;
    padding-bottom: 10px;
}

.label-header, .label-header-content{
    padding-top: 20px;
    padding-bottom: 10px;
}

.label-header-content-edit{
    padding-top: 10px;
}

.label-header label{
    font-weight: bold;
    margin-top: 2px;
}

.label-header-content label{
    margin-top: 2px;
}

.label-header-content-edit input{
    margin-top: 5px;
    width: 80%;
}

#saveBtn{
    color: white;
    background-color: #24a0ed;
    border-radius: 5px;
    border: none;
    border: 1px solid #24a0ed;
}

#cancelBtn{
    color: gray;
    background-color: white;
    border-radius: 5px;
    border: none;
    border: 1px solid gray;
}

#saveBtn-modal{
    float: right;
    color: black;
    background-color: skyblue;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
}

#saveBtn:hover, #saveBtn-modal:hover{
    background-color: #63bbf2;
    color: black;
    border: 1px solid #63bbf2;
}
#cancelBtn:hover{
    color: black;
    border: 1px solid black;
}

.modal-headerInfo{
    background-color: #26272b;
    padding: 2px 16px;
    color: white;
}

.closeInfo {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeInfo:hover,
.closeInfo:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.tags{
    margin: 0.5% 10% 0.5% 10%;
    display:flex;                 
    justify-content:center; 
    flex-flow:row wrap;         
}

#editPref{
    margin: 0.5% 10% 0.5% 10%;
}

.tags a{
    padding:10px; 
    display: inline-block;
    margin:5px;
    width:auto;
    vertical-align: top;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}
.tags a.primary{
    color:#FFF;
    background-color:#428BCA;
    border-color:#357EBD
}
.tags a.success{
    color:#FFF;
    background-color:#5CB85C;
    border-color:#4CAE4C
}
.tags a.info{
    color:#FFF;
    background-color:#5BC0DE;
    border-color:#46B8DA
}
.tags a.warning{
    color:#FFF;
    background-color:#F0AD4E;
    border-color:#EEA236
}
.tags a.danger{
    color:#FFF;
    background-color:#D9534F;
    border-color:#D43F3A
}




/* ----------------------------------------------------------- */
/* view_profile */
/* ----------------------------------------------------------- */
.statistics-num, .statistics-label{
    color: black;
    font-weight: bold;
}

.statistics-num{
    font-size: large;
}

.follow{
    background-color: #24a0ed;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 35px;
    font-weight: bolder;
}

.follow:hover{
    background-color: #009DDB;
    color: white;
}
