.list-thumb{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.list-thumb:hover{
  box-shadow: 0 0 2px 1px rgba(2, 140, 186, 0.5);
}

.form-group-first{
  margin-left:  20px;
  margin-right: 20px;
}

nav a{
  color:  #fff;
}

nav a:hover{
    color: #00dba0;
    text-decoration: none;
}

.logoutbtn:hover {
  color: #00dba0;
  text-decoration: none;
}


.dropdown-bar:hover{
  background-color: #00dba0;
  text-decoration: none;
}

nav li{
  display:  inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

.logoutbtn{
  float: none;
  background: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 0;
  text-align: left;
}

.super-useravatar{
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

/* Navbar container */
.navi {
  overflow: hidden;
  font-family: Arial;
  }

/* The dropdown container */
  .dropdown-bar {
  float: right;
  overflow: hidden;
  }

/* Dropdown button */
  .dropdown-bar .dropbtn-bar {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  }

/* Dropdown content (hidden by default) */
  .dropdown-content-bar {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }

/* Links inside the dropdown */
  .dropdown-content-bar a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }

/* Add a grey background color to dropdown links on hover */
  .dropdown-content-bar a:hover {
  background-color: #ddd;
  }

/* Show the dropdown menu on hover */
  .dropdown-bar:hover .dropdown-content-bar {
  display: block;
  }


.success{
  width: 100%;
  list-style-type: none;
  margin-top: 5px;
}

.form-input{
  margin-top: 10px;
  width: 100%;
}

.container-book-details{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

#thumb{
  border-radius: 8px;
  width: 100%;
}

.book-details h1{
  font-weight: bold;
}

#more{
  display: none;
}

.review-more{
  display: none;
}
.hidden-tags{
  display: none;
}

#myBtn{
  color:  blue;
  cursor:  pointer;
}


.book-nav{
  padding-top: 10px;
}

.availability p{
  font-weight: bold;
}

.price p{
  text-align: right;
}

.descriptions{
  white-space: pre-line;
}

.in-stock{
  color: green;
}

.out-stock{
  color: red;
}

.container-book-reviews{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.review-body h1{
  font-weight: bold;
}

.review{
  margin-left: 50px;
  margin-right: 50px;
}

.review p{
  margin: 0%;
}

.review-title{
  font-weight: bold;
}

.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}

/* buttons in every book in the library */

.container-library{
  position: relative;
}

.form-library{
  position: absolute;
  display: none;
  z-index: 2;
  top: 41%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.update-btn-library{  
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.details-library{
  top: 20%;
  left: 30%;
  font-size: 14px;
  padding: 12px 10px;
}

.delete-library{
  top: 63%;
  left: 30%;
  font-size: 16px;
  padding: 12px 22px;
}

.details-library, .delete-library{
  position: absolute;
  display: none;
  z-index: 2;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.container-library:hover .details-library, .container-library:hover .delete-library, .container-library:hover .update-btn-library, .container-library:hover .form-library{
  display: block;
}

.update-btn-library:hover{
  background-color: black;
}

.details-library:hover, .delete-library:hover{
  background-color: black;
  color: white;
  text-decoration: none;
}

.delete-library:hover{
  background-color: red;
}

/* ---------------------------------- */