.list-thumb{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.list-thumb:hover{
  box-shadow: 0 0 2px 1px rgba(2, 140, 186, 0.5);
}

.form-group-first{
  margin-left:  20px;
  margin-right: 20px;
}

nav a{
  color:  #fff;
}

nav a:hover{
    color: #00dba0;
    text-decoration: none;
}

nav li{
  display:  inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

nav button{
  background: none;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 1em;
}

.success{
  width: 100%;
  list-style-type: none;
  margin-top: 5px;
}

.form-input{
  margin-top: 10px;
  width: 100%;
}

.container-book-details{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

#thumb{
  border-radius: 8px;
  width: 100%;
}

.book-details h1{
  font-weight: bold;
}

#more{
  display: none;
}

.review-more{
  display: none;
}
.hidden-tags{
  display: none;
}

#myBtn{
  color:  blue;
  cursor:  pointer;
}


.book-nav{
  padding-top: 10px;
}

.availability p{
  font-weight: bold;
}

.price p{
  text-align: right;
}

.descriptions{
  white-space: pre-line;
}

.in-stock{
  color: green;
}

.out-stock{
  color: red;
}

.container-book-reviews{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.review-body h1{
  font-weight: bold;
}

.review{
  margin-left: 50px;
  margin-right: 50px;
}

.review p{
  margin: 0%;
}

.review-title{
  font-weight: bold;
}

.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}