{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Book System</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<header>
		<h1>Book System</h1>
		<nav>
			<ul>
				{% if user.is_authenticated %}
					<li>
						<form action="{% url 'accounts:logout' %}" method="post">
							{% csrf_token %}
							<button type="submit">Logout</button>
						</form>
					</li>
					<li><a href="{% url 'books:create' %}">New Listing</a></li>
				{% else %}
					<li><a href="{% url 'accounts:login' %}">Login</a></li>
					<li><a href="{% url 'accounts:signup' %}">Signup</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>
	{% block content %}

	{% endblock %}
</body>
</html>