{% extends 'base_layout.html' %}

{% block userprofile %}
<button class="dropbtn-bar"><img src="{{profile.picture.url}}" alt="" class="super-useravatar"> {{user.username}}
	<i class="fa fa-caret-down"></i>
</button>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		{% if messages %}
			{% for message in messages %}
				<li {% if message.tags == "success" %} class="alert alert-success {{ message.tags }}" {% endif %}>{{ message }}</li>
			{% endfor %}
		{% endif %}
	</div>
</div>
<h1>Book List</h1>
<div class="container-fluid">
	<div class="my-listings-library">
		{% for book in books %}
			<div>
				<a href="{% url 'books:detail' slug=book.slug page_id=1 %}" >
					<img class="list-thumb" src="{{ book.thumbnail.url }}">
					<p>{{ book.title}}</p>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}