{% extends 'base_layout.html' %}

{% load post_tags %}
{% block content %}
<div class="container-book-details">
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 thumb">
			<img id="thumb" src="{{ book.thumbnail.url }}">
		</div>
		<div class="col-xs-7 col-sm-7 col-md-7 book-details">
			<h1>{{ book.title }}</h1>
			<a href="#">By {{ book.author }}</a>
			<hr>
			<h4>Price: {{ book.price }}</h4>
			<h4>Description:</h4>
			<p class="descriptions">{{ book.snippet }}<span id="dots">...</span><span id="more">{{ book.read_more }}</span><a onClick="return myFunction()" id="myBtn">Read More</a></p>
			<!-- <button onclick="myFunction()" id="myBtn">Read more</button> -->
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 border border-dark">
			<div class="row book-nav">
				<div class="col availability">
					<p>For {{ book.availability }}:</p>
				</div>
				<div class="col price">
					<p>₱{{ book.price }}</p>
				</div>
			</div>
			{% if book.stock != 0 %}
				<p class="in-stock">{{ book.stock }} in stock</p>
			{% else %}
				<p class="out-stock">Out of stock</p>
			{% endif %}
			<form>
				<button type="submit" class="btn btn-black" style="width:100%">Message Seller to Rent</button>
			</form>
		</div>
	</div>
	<hr>
</div>
<div class="container-book-reviews">
	<div class="review-body">
		<h3>Reviews</h3>
		<div class="review">
			<!-- <li><a href="{% url 'reviews:create' slug=book.slug %}">Leave a Review</a></li> -->
			{% for review in reviews %}
				{% if review.book == book %}
					<form action="{% url 'books:reviewlike'%}" method="post"  class="like-form" id={{review.id}}>
						{% csrf_token %}
						<input type="text" class="hidden-tags" name="review_id" value="{{review.id}}">
						<input type="text" class="hidden-tags" name="owner" value="{{user.id}}" >
						<input type="text" class="hidden-tags" name="slug"  value="{{book.slug}}">
						<p>{{ review.author }} {{ review.datetime }}</p>
						<div class="row">
							<div class="col-xs-11 col-sm-11 col-md-11">
								<p class="review-title">{{ review.title }}</p>
								<!-- <p class="descriptions">{{ review.snippet }}</p> -->
								{% if not review.read_more %}
									<p class="descriptions">{{ review.body }}</p>
								{% else %}
									<p class="descriptions">{{ review.snippet }}<span id="dots{{review.id}}">...</span><span class="review-more" id="more{{review.id}}">{{ review.read_more }}</span><a href="javascript:void()" class="review-btn" id="readMore{{review.id}}">Read More</a></p>
								{% endif %}
							</div>
							<div class="col-xs- 1 col-sm-1 col-md-1">
								{% checker review.id user as likes%}
								<button type="submit" name="submit" class="btn btn-black like-btn{{review.id}}" style="margin-left: 0;">
									{% if not likes %}
										Like
									{% else %}
										Unlike
									{% endif %}
								</button>
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="like-count{{review.id}}">{% total_like review.id%}</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										likes
									</div>
								</div>
							</div>
						</div>
					</form>
					<hr>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/read_more.js"></script>
<script type="text/javascript">
		$(document).ready(function(){
			let display = false
			$('.like-form').submit(function(e){
				e.preventDefault();
				const review_id = $(this).attr('id')

				const likeText = $(`.like-btn${review_id}`).text()
				const trim = $.trim(likeText)

				const url = $(this).attr('action')
				let res;
				const likes = $(`.like-count${review_id}`).text()
				const trimCount = parseInt(likes)
				$.ajax({
					type:'POST',
					url: url,
					data:{
						'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
						'review_id':review_id,
					},
					success: function(response){
						if(trim === 'Unlike'){
							$(`.like-btn${review_id}`).text('Like')
							res = trimCount - 1
						}else{
							$(`.like-btn${review_id}`).text('Unlike')
							res = trimCount + 1
						}
						$(`.like-count${review_id}`).text(res)
					},
					error: function(response){
						console.log('error', response)
					},
				})
			})
			$('.review-btn').on('click', function(e){
				e.preventDefault()
				const id = $(this).attr('id')
				const trim = id.replace('readMore','')
				
				const dots = document.getElementById('dots'+trim)
				const btnText = document.getElementById('readMore'+trim)
				const moreText = document.getElementById('more'+trim)
				
				if (dots.style.display === "none") {
				    dots.style.display = "inline";
				    btnText.innerHTML = "Read more";
				    moreText.style.display = "none";
				} else {
				    dots.style.display = "none";
				    btnText.innerHTML = "Read less";
				    moreText.style.display = "inline";
				}
			});
		});
</script>
{% endblock %}