{% extends 'base_layout.html' %}

{% block userprofile %}
<button class="dropbtn-bar"><img src="{{profile.picture.url}}" alt="" class="super-useravatar"> {{user.username}}
	<i class="fa fa-caret-down"></i>
</button>
{% endblock %}

{% block content %}
{% if not owner %}
    <h1 style="text-align: center;">Other Listings for {{title}}</h1>
{% else %}
    <h1 style="text-align: center;">Listings for {{title}}</h1>
{% endif %}
<div class="container-fluid">
    {% for books in similar %}
        {% for avail in book_avail %}
            {% if avail.book == books %}
                <div class="card similar-card" style="width: 100%;">
                    <div class="card-body similar-body">
                        <div class="row similar-div"> 
                            <div class="col-4 col-xs-2 col-sm-2 col-md-2">
                                <img class="book-thumbnail similar-thumb" src="{{ books.thumbnail.url }}">
                            </div>
                            <div class="col-8 col-xs-10 col-sm-10 col-md-10">
                                <h5 class="card-title">{{books.title}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">by {{books.author}}</h6><br>
                                <p class="card-text">For {% if avail.availability == "sell" %} sale {% else %} {{avail.availability}} {% endif %} <span style="margin-right: 10px;"></span>|<span style="margin-left: 10px;">Price: <span class="book-price">₱{{ avail.price }}</span></span></p>
                                <p class="card-text">
                                    {% if avail.stock != 0 %}
                                        <span style="color: green;">{{avail.stock}} in stock</span>
                                    {% else %}
                                        <span style="color: red;">Out of Stock</span>
                                    {% endif %}
                                </p>
                                <p class="card-text">Condition: <span style="color: green;">{{books.condition}}</span></p><br>

                                <a href="{% url 'books:detail' slug=books.slug page_id=1 %}" class="card-link other-listings">Go to Detail Page</a>
                                {% if owner != "" %}
                                    <form action="{% url 'books:updatePrev' book_id=books.id status='next' %}" id="{{ books.id }}">
                                        {% csrf_token %}              
                                        <button type="submit" class="form-control listing-updateBtn">Update</button>
                                    </form>
                                    <button name="listing-delete" class="form-control listing-deleteBtn"  id="myBtn{{books.id}}" data-name="{{books.title}}" onclick="show_modal('{{books.id}}')">Remove</button>    
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
<div class="modal" id="myModal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p id="modal-p-content"></p>
            <button id="modalbtn-delete">Proceed</button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>   
    $(document).ready(function() {
        if(document.getElementById('modalbtn-delete') != null){
            document.getElementById('modalbtn-delete').onclick = function(){
                const book_id = $(this).attr('class')
                const btnName = $(this).attr('name')
                if(btnName == "listing-delete"){
                    location.href = "../../../../books/delete/"+book_id;
                }else{
                    console.log("test")
                }
            };	
        }
    });
    function show_modal(id){
        var title =''
        var btnName = ''
        // Get the modal
        var modal = document.getElementById("myModal");
        //get button
        var btn = document.getElementById("myBtn"+id);
        title = btn.getAttribute("data-name");
        btnName = btn.getAttribute("name");
        
        //add id to modalbtn-delete
        document.getElementById('modalbtn-delete').setAttribute("class",id);
        document.getElementById('modalbtn-delete').setAttribute("name", btnName);
        //open modal
        modal.style.display = "block";
        document.getElementById('modal-p-content').innerHTML = "Are you sure you want to remove " +title +" from your Book Listings?";
        

        //Get span
        var span = document.getElementsByClassName("close")[0];
        //When the user clicks on the button, open the modal
        span.onclick = function(){
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(){
            if(event.target == modal){
                modal.style.display = "none";   
            }
        }
    }
</script>
{% endblock %}