{% extends 'base_layout.html' %}

{% load post_tags %}

{% block userprofile %}
<button class="dropbtn-bar"><img src="{{profile.picture.url}}" alt="" class="super-useravatar"> {{user.username}}
	<i class="fa fa-caret-down"></i>
</button>
{% endblock %}
{% block library %} nav-active {% endblock %}
{% block content %}
<div class="col-lg-12 col-sm-12">
    <!-- profile card -->
    {% if messages %}
        {% for message in messages %}
            {% if messaage.tags == "success" %}
                <li class="alert alert-success {{ message.tags }}">{{ message }}</li>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="{{ profile.coverphoto.url }}">
        </div>
        <div class="useravatar">
            <img alt="" src="{{ profile.picture.url }}">
        </div>
        <div class="card-info"> <span class="card-title">{{ username }}</span>

        </div>
    </div><br>
    <!-- navigation tabs -->
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="..." style="display: flex; justify-content: center;">
        <div class="btn-group" role="group">
            <button type="button" id="tab1-tab" class="btn btn-default btnTabListing btnTabActive" onclick="openTab('tab1')" data-toggle="tab"><span class="fas fa-list" aria-hidden="true"> My Listings</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="tab2-tab" class="btn btn-default btnTabRead" onclick="openTab('tab2')" data-toggle="tab"><span class="fa fa-book-open" aria-hidden="true"> Have Read</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="tab3-tab" class="btn btn-default btnTabLibrary" onclick="openTab('tab3')" data-toggle="tab"><span class="fa fa-book" aria-hidden="true"> Library</span>
            </button>
        </div>
    </div>
    <!-- My Listings Tab -->
    <div class="tab-content" id="myTabContent" style="padding-top: 10px;">
        <div class="tab-pane fade show active" id="tab1"  role="tabpanel" aria-labelledby="tab1-tab">
            <div class="my-listings-library">
                {% for book in listings %}
                    <div class="container-library">
                        <img class="list-thumb " src="{{ book.thumbnail.url }}">
                            {% if not listings_exist %}
                                <a class="details-library" href="{% url 'books:bookInfo' book_id=book.id %}">Show Details</a>
                                <button class="update-library" onclick="updateLibrary('{{book.id}}')">Update</button>
                                <button name="listing-delete" class="delete-library" id="myBtn{{book.id}}" data-name="{{book.title}}" onclick="show_modal('{{book.id}}')">Remove</button>                   
                            {% else %}
                                {% for listing_exist in listings_exist %}
                                    {% if listing_exist.title == book.title and listing_exist.author == book.author %}
                                        <button class="details-library" onclick="detailLibrary('{{book.id}}','{{book.owner.id}}')">Show Details</button>
                                        {% counter 1 as ctr %}
                                    {% else %}
                                        {% if counter == forloop.counter and ctr != "break" %}
                                            <a class="details-library" href="{% url 'books:bookInfo' book_id=book.id %}">Show Details</a>
                                            <button class="update-library" onclick="updateLibrary('{{book.id}}')">Update</button>
                                            <button name="listing-delete" class="delete-library" id="myBtn{{book.id}}" data-name="{{book.title}}" onclick="show_modal('{{book.id}}')">Remove</button>       
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Have Read Tab -->
        <div class="tab-pane fade" id="tab2"  role="tabpanel" aria-labelledby="tab2-tab">
            <div class="my-listings-library">
                {% for read in readlist %}
                    {% for book in read.books.all %}
                        <div class="container-library">
                            <img class="list-thumb" src="{{ book.thumbnail.url }}">    
                            <a class="details-library" href="{% url 'books:detail' slug=book.slug page_id=1 %}">Show Details</a>
                            <button name="read-delete" class="delete-library" onclick="show_modalRead('{{book.id}}')" data-name="{{book.title}}" id="myBtnRead{{book.id}}">Remove</button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <!-- Library Tab -->
        <div class="tab-pane fade" id="tab3"  role="tabpanel" aria-labelledby="tab3-tab">
            <!-- <div class="my-listings-library">
                {% if not bookrent %}
                    <h2 style="text-align: center; font-size: xx-large;">No Entry</h2>
                {% else %}
                    {% for rent in bookrent %}  
                            <div class="rent-listings">
                                <img class="list-thumb" src="{{ rent.books.thumbnail.url }}">
                                {% for book in books %}
                                    {% if rent.books == book.book %}
                                        <p>{{book.daterange}}</p>
                                        <p>{{rent.daterented}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                    {% endfor %}
                {% endif %}
            </div> -->
            {% if not bookrent %}
                <h2 style="text-align: center; font-size: xx-large;">No Entry</h2>
            {% else %}
                <div class="separator">
                    <h5>Currently Renting Books</h5>
                </div>  
                <div class="row"> 
                    {% for rent in bookrent %} 
                        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="card similar-card" style="width: 100%; margin-bottom: 10px;">
                                <div class="card-body similar-body">
                                    <div class="row similar-div"> 
                                        <div class="col-4 col-xs-3 col-sm-4 col-md-2 col-lg-3">
                                            <img class="book-thumbnail similar-thumb" src="{{ rent.books.thumbnail.url }}">
                                        </div>
                                        <div class="col-8 col-xs-9 col-sm-8 col-md-8 col-lg-9">
                                            <h5 class="card-title">{{rent.books.title}}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">By {{rent.books.author}}</h6>
                                            <h6 class="card-subtitle mb-2 text-muted">Posted by {{rent.books.owner}}</h6>
                                            <p class="card-text">Date Rented: {% dateRented rent.daterented %}</p>
                                            {% for book in books %}
                                                {% if rent.books == book.book %}
                                                    <p class="card-text">Return Date (on or before): {% returnDate rent.daterented book.daterange %}</p>
                                                    <p class="card-text">Remaining Days: <span style="color: green;">{% dateCounter rent.daterented book.daterange %}</span></p>
                                                {% endif %}
                                            {% endfor %}
                                            <a href="{% url 'books:detail' slug=rent.books.slug page_id=1 %}" class="card-link other-listings">Go to Detail Page</a>
                                            <form action="{% url 'chat:bookmessages' %}" method="get">
                                                {% csrf_token %}
                                                <input type="text" name="book" value="{{rent.books.id}}" hidden>
                                                <input type="text" name="owner" value="{{rent.books.owner}}" hidden>
                                                <button type="submit" class="form-control" id="messageBtn">Message Owner</button>    
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Modal for Remove Button in Book Listing -->
<div class="modal" id="myModal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p id="modal-p-content"></p>
            <button id="modalbtn-delete">Proceed</button>
        </div>
    </div>
</div>


{% if tab != '' %}
    {{ tab|json_script:"tab-name" }}
{% else %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "info" %}
                {{ 'tab2'|json_script:"tab-name" }}
            {% endif %}
        {% endfor %}
    {% else %}
        {{ 'tab1'|json_script:"tab-name" }}
    {% endif %}
{% endif %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        var tab_name = ""
        if(JSON.parse(document.getElementById('tab-name') != null)){
            tab_name = JSON.parse(document.getElementById('tab-name').textContent);
        }
        // Jump to Have Read from "Book Detail page"
        if (tab_name === "tab2"){
            openTab(tab_name);
            $(".btn-pref .btn").removeClass("btnTabActive");
            $("#tab2-tab").addClass("btnTabActive"); 
        }

        // Open Update page for book listing
        $('.form-library').submit(function(e){
            const book_id = $(this).attr('id')
            const url = $(this).attr('action')
			$.ajax({
				type:'POST',
					url: url,
					data:{
						'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
						'book_id':book_id,
					},
					success: function(response){
						console.log('success', response)
					},
					error: function(response){
						console.log('error', response)
					},
				})
            
        })

    });

    $(document).ready(function() {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btnTabActive");
            $(this).addClass("btnTabActive"); 
        });
    });

    
    if(document.getElementById('modalbtn-delete') != null){
        var deleteBtn = document.getElementById('modalbtn-delete');
        deleteBtn.onclick = function(){
            const book_id = deleteBtn.getAttribute('class')
            const btnName = deleteBtn.getAttribute('name')
            if(btnName == "listing-delete"){
                location.href = "../../books/delete/"+book_id;
            }else if(btnName == "read-delete"){
                location.href = "../../books/read/delete/"+book_id;
            }else{
                console.log("test")
            }
        };
    }

    function updateLibrary(book_id){
        const url = "{% url 'books:updatePrev' book_id=1 status='next' %}";
        location.href = url.replace('1', book_id);
    }

    function detailLibrary(book_id, owner_id){
        var url = "{% url 'books:listings' book_id=1 owner_id=2 %}";
        url = url.replace('1', book_id);
        location.href = url.replace('2', owner_id);
    }
    
    
    function show_modal(id){
        var title =''
        var btnName = ''
        // Get the modal
        var modal = document.getElementById("myModal");
        //get button
        var btn = document.getElementById("myBtn"+id);
        title = btn.getAttribute("data-name");
        btnName = btn.getAttribute("name");
        
        //add id to modalbtn-delete
        document.getElementById('modalbtn-delete').setAttribute("class",id);
        document.getElementById('modalbtn-delete').setAttribute("name", btnName);
        //open modal
        modal.style.display = "block";
        document.getElementById('modal-p-content').innerHTML = "Are you sure you want to remove " +title +" from your Book Listings?";
        

        //Get span
        var span = document.getElementsByClassName("close")[0];
        //When the user clicks on the button, open the modal
        span.onclick = function(){
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(){
            if(event.target == modal){
                modal.style.display = "none";   
            }
        }
    }

    function show_modalRead(id){
        var title =''
        var btnName = ''
        // Get the modal
        var modal = document.getElementById("myModal");
        //get button
        var btn = document.getElementById("myBtnRead"+id);
        title = btn.getAttribute("data-name");
        btnName = btn.getAttribute("name");
        
        //add id to modalbtn-delete
        document.getElementById('modalbtn-delete').setAttribute("class",id);
        document.getElementById('modalbtn-delete').setAttribute("name", btnName);
        //open modal
        modal.style.display = "block";
        document.getElementById('modal-p-content').innerHTML = "Are you sure you want to remove " +title +" from your Have Read list?";
        

        //Get span
        var span = document.getElementsByClassName("close")[0];
        //When the user clicks on the button, open the modal
        span.onclick = function(){
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(){
            if(event.target == modal){
                modal.style.display = "none";   
            }
        }
    }

    function openTab(name) {
        var i;
        var x = document.getElementsByClassName("tab-pane");
        for (i = 0; i < x.length; i++) {
            x[i].classList.remove("show");
            x[i].classList.remove("active");
        }
        document.getElementById(name).classList.add("show");
        document.getElementById(name).classList.add("active");
    }
</script>
{% endblock %}