{% extends 'base_layout.html' %}

{% block content %}
<div class="col-lg-12 col-sm-12">
    <!-- profile card -->
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="/media/default.png">
        </div>
        <div class="useravatar">
            <img alt="" src="{{ profile.picture.url }}">
        </div>
        <div class="card-info"> <span class="card-title">{{ username }}</span>

        </div>
    </div>
    <!-- navigation tabs -->
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="tab1-tab" class="btn btn-primary" onclick="openTab('tab1')" data-toggle="tab"><span class="fas fa-list" aria-hidden="true"> My Listings</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="tab2-tab" class="btn btn-default" onclick="openTab('tab2')" data-toggle="tab"><span class="fa fa-book-open" aria-hidden="true"> Have Read</span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="tab3-tab" class="btn btn-default" onclick="openTab('tab3')" data-toggle="tab"><span class="fa fa-book" aria-hidden="true"> Library</span>
            </button>
        </div>
    </div>
    <!-- My Listings Tab -->
    <div class="tab-content" id="myTabContent" style="padding-top: 10px;">
        <div class="tab-pane fade show active" id="tab1"  role="tabpanel" aria-labelledby="tab1-tab">
            <div class="my-listings-library">
                {% for book in my_listings %}
                    <div class="container-library">
                        <img class="list-thumb " src="{{ book.thumbnail.url }}">
                        <a class="details-library" href="{% url 'books:detail' slug=book.slug %}">Show Details</a>
                        <form action="{% url 'books:update' book_id=book.id %}" class="form-library" id="{{ book.id }}">
                            {% csrf_token %}
                            <button type="submit" class="update-btn-library">Update</button>
                        </form>
                        <button class="delete-library" id="myBtn{{book.id}}" data-name="{{book.title}}" onclick="show_modal({{book.id}})">Remove</button> 
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Have Read Tab -->
        <div class="tab-pane fade" id="tab2"  role="tabpanel" aria-labelledby="tab2-tab">
            <div class="my-listings-library">
                {% for read in readlist %}
                    {% for book in read.books.all %}
                        <div>
                            <a href="{% url 'books:detail' slug=book.slug %}"><img class="list-thumb" src="{{ book.thumbnail.url }}"></a>    
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <!-- Library Tab -->
        <div class="tab-pane fade" id="tab3"  role="tabpanel" aria-labelledby="tab3-tab">
            <div class="my-listings-library">
                {% for book in books %}
                    <div>
                        <a href="{% url 'books:detail' slug=book.slug %}"><img class="list-thumb" src="{{ book.thumbnail.url }}"></a>    
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Modal for Remove Button in Book Listing -->
<div class="modal" id="myModal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <p id="modal-p-content"></p>
            <button id="modalbtn-delete">Proceed</button>
        </div>
    </div>
</div>


{% if tab != '' %}
    {{ tab|json_script:"tab-name" }}
{% else %}
    {{ 'tab1'|json_script:"tab-name" }}
{% endif %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        const tab_name = JSON.parse(document.getElementById('tab-name').textContent);

        // Jump to Have Read from "Book Detail page"
        if (tab_name === "tab2"){
            openTab(tab_name);
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            $("#tab2-tab").removeClass("btn-default").addClass("btn-primary"); 
        }

        // Open Update page for book listing
        $('.form-library').submit(function(e){
            const book_id = $(this).attr('id')
            const url = $(this).attr('action')
			$.ajax({
				type:'POST',
					url: url,
					data:{
						'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
						'book_id':book_id,
					},
					success: function(response){
						console.log('success', response)
					},
					error: function(response){
						console.log('error', response)
					},
				})
            
        })

        if(document.getElementById('modalbtn-delete') != null){
            document.getElementById('modalbtn-delete').onclick = function(){
                const book_id = $(this).attr('class')
                location.href = "../../books/delete/"+book_id;
            };	
        }
        

    });

    $(document).ready(function() {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
            $(this).removeClass("btn-default").addClass("btn-primary"); 
        });
    });
    
    function show_modal(id){
        // Get the modal
        var modal = document.getElementById("myModal");
        //get button
        var btn = document.getElementById("myBtn"+id);
        var title = btn.getAttribute("data-name");

        //add id to modal-form
        document.getElementById('modalbtn-delete').setAttribute("class",id);
        
        //open modal
        modal.style.display = "block";
        document.getElementById('modal-p-content').innerHTML = "Are you sure you want remove " +title +" from your book listing?"

        //Get span
        var span = document.getElementsByClassName("close")[0];
        //When the user clicks on the button, open the modal
        span.onclick = function(){
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(){
            if(event.target == modal){
                modal.style.display = "none";   
            }
        }
    }

    function openTab(name) {
        var i;
        var x = document.getElementsByClassName("tab-pane");
        for (i = 0; i < x.length; i++) {
            x[i].classList.remove("show");
            x[i].classList.remove("active");
        }
        document.getElementById(name).classList.add("show");
        document.getElementById(name).classList.add("active");
    }
</script>
{% endblock %}