{% extends 'base_layout.html' %}

{% block content %}
<div class="container-fluid">
    {% if status == "create" %}
	    <h2 style="text-align: center; margin-top: 1%;">Create a New Book Listing</h2>
    {% else %}
        <h2 style="text-align: center; margin-top: 1%;">Update Book Listing</h2>
    {% endif %}
    <p style="text-align: center;">Fill up all <span style="color: red;">*</span>required field</p>

    <!-- progressbar -->
    <div class="progressbar-div">
        <ul id="progressbar">
            <li class="active" id="book-details"><strong>Details</strong></li>
            <li class="active" id="book-avail"><strong>Availability</strong></li>
            <li class="active" id="finish"><strong>Finish</strong></li>
        </ul> 
        <div class="form-card">
            <h2 class="fs-title text-center">Success !</h2> <br><br>
            <div class="row justify-content-center">
                <div class="col-3"> <img src="{{book.qr_code.url}}" class="fit-image"> </div>
            </div> <br><br>
            <div class="row justify-content-center">
                <div class="col-7 text-center">
                    {% if status == "create" %}
                        <h5>You Have Created a New Listing for "{{book.title}}"</h5>
                        <p id="slug" hidden>{{book.slug}}</p>
                        <p>Redirecting to "{{book.title}}" detail page after 5 seconds.</p>
                    {% else %}
                        <h5>You Have Updated the Information for "{{book.title}}"</h5>
                        <p id="slug" hidden>{{book.slug}}</p>
                        <p>Redirecting to "{{book.title}}" detail page after 5 seconds.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    var slug = document.getElementById('slug').textContent;
    setTimeout(function(){
    window.location.href = '../../../../' +slug +'/1/';
    }, 5000);
</script>
{% endblock %}