{% extends 'base_layout.html' %}

{% block content %}
<div class="container-book-details">
	<div class="row">
		<div class="col">
			<img class="thumb" src="{{ book.thumbnail.url }}">
		</div>
		<div class="col-md-7 book-details">
			<h1>{{ book.title }}</h1>
			<a href="#">By {{ book.author }}</a>
			<hr>
			<h4>Price: {{ book.price }}</h4>
			<h4>Description:</h4>
			<p>{{ book.snippet }}<span id="dots">...</span><span id="more">{{ book.read_more }}</span><a onClick="return myFunction()" id="myBtn">Read More</a></p>
			<!-- <button onclick="myFunction()" id="myBtn">Read more</button> -->
		</div>
		<div class="col border border-dark">
			<div class="row book-nav">
				<div class="col availability">
					<p>For {{ book.availability }}:</p>
				</div>
				<div class="col price">
					<p>₱{{ book.price }}</p>
				</div>
			</div>
			{% if book.stock != 0 %}
				<p class="in-stock">{{ book.stock }} in stock</p>
			{% else %}
				<p class="out-stock">Out of stock</p>
			{% endif %}
			<form>
				<button type="submit" class="btn btn-black">Message Seller to Rent</button>
			</form>
		</div>
	</div>
	<hr>
</div>
<div class="container-book-reviews">
	<div class="review-body">
		<h3>Reviews</h3>
		<div class="review">
			<!-- <li><a href="{% url 'reviews:create' slug=book.slug %}">Leave a Review</a></li> -->
			{% for review in reviews %}
				{% if review.book == book %}
					<p>{{ review.author }}</p>
					<p class="review-title">{{ review.title }}</p>
					<p>{{ review.datetime }}</p>
					<p>{{ review.body }}</p>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
<script src="/static/read_more.js"></script>
{% endblock %}